{% extends "base.html" %}
{% block body %}
<div style="margin-top: 56px">
    <h1>ಕನ್ನಡ ಏಕಭಾಷಿಕ ನಿಘಂಟು-Kannada Monolingual Dictionary</h1>
    <p>A Kannada-Kannada monolingual dictionary is a comprehensive resource designed to provide definitions, meanings, and explanations of Kannada words in the Kannada language. It serves as an essential tool for Kannada speakers, students, and language enthusiasts, offering detailed descriptions, usage examples, synonyms, antonyms, and grammatical information. This type of dictionary helps users to enhance their vocabulary, understand word usage, and improve their overall command of the Kannada language.</p>
</div>
{% endblock body %}
