<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Simple Dictionary</title>
  <style>
  </style>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <form method="post" action="/wordlist">
        <h1>Dictionary</h1>
        <input type="text" id="search-input" name="title" placeholder="Enter a word">
        <button id="search-button" class="btn-primary">Search</button>
  </div>
    {% if words %}
    {% for title in words %}
    <h2>{{title}}</h2>
    {% endfor %}
    {% endif %}
</body>

</html>