<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dictionary</title>
  <style>
  </style>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <div class="container">
    <form method="post" action="/searchword">
        <h1>Kannada Monolingual Dictionary</h1>
        <input type="text" id="search-input" name="title" placeholder="Type word to search">
        <button id="search-button" class="btn-primary">Search</button>
    </form>
  </div>
    {% if words %}
    {% for title in words %}
    <div class="container">
      <div id="title"><h2>{{ಅಂಕಣ}}</h2></div>
      <div id="definition"><p>{{1. ಮನೆಯ ಎರಡು ಕಂಬಗಳ (ತೊಲೆಗಳ) ನಡುವಿನ ಪ್ರದೇಶ. 2. ಸ್ಥಳ. 3. ಸೆಳೆಖಾನೆ. 4. ಪತ್ರಿಕೆಯಲ್ಲಿನ ಉದ್ದ ಸಾಲು. 5. ಪತ್ರಿಕೆಯಲ್ಲಿ ನಿರ್ದಿಷ್ಟ ವಿಷಯಕ್ಕೆ ಗೊತ್ತುಪಡಿಸಿದ ಜಾಗ.}}</p></div>
    </div>
    {% endfor %}
    {% endif %}
    <!-- <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script> -->
    <script src="/static/myscript.js"></script>
</body>
</html>